version: 2.1

jobs:
  build_rockylinux:
    machine:
      image: ubuntu-2204:2024.01.1
    resource_class: arm.large
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y sudo zip jq snapd debootstrap
            sudo snap install distrobuilder --classic
      - run:
          name: Build and upload images
          command: |
            chmod 777 build_and_upload_all.sh
            ./build_and_upload_all.sh $GITHUB_TOKEN rockylinux
  build_opensuse:
    machine:
      image: ubuntu-2204:2024.01.1
    resource_class: arm.medium
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y sudo zip jq snapd debootstrap
            sudo snap install distrobuilder --classic
      - run:
          name: Build and upload images
          command: |
            chmod 777 build_and_upload_all.sh
            ./build_and_upload_all.sh $GITHUB_TOKEN opensuse
  build_openwrt:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.medium
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload_all.sh
              ./build_and_upload_all.sh $GITHUB_TOKEN openwrt
  build_kali:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload_all.sh
              ./build_and_upload_all.sh $GITHUB_TOKEN kali
  build_gentoo:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload_all.sh
              ./build_and_upload_all.sh $GITHUB_TOKEN gentoo
  build_fedora:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload_all.sh
              ./build_and_upload_all.sh $GITHUB_TOKEN fedora
  build_debian:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload_all.sh
              ./build_and_upload_all.sh $GITHUB_TOKEN debian
  build_centos:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload_all.sh
              ./build_and_upload_all.sh $GITHUB_TOKEN centos
  build_archlinux:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload_all.sh
              ./build_and_upload_all.sh $GITHUB_TOKEN archlinux
  build_alpine:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.medium
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload_all.sh
              ./build_and_upload_all.sh $GITHUB_TOKEN alpine
  build_almalinux:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload_all.sh
              ./build_and_upload_all.sh $GITHUB_TOKEN almalinux
  build_ubuntu_first:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload.sh
              ./build_and_upload.sh $GITHUB_TOKEN ubuntu first
  build_ubuntu_second:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload.sh
              ./build_and_upload.sh $GITHUB_TOKEN ubuntu second
  build_oracle_first:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload.sh
              ./build_and_upload.sh $GITHUB_TOKEN oracle first
  build_oracle_second:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload.sh
              ./build_and_upload.sh $GITHUB_TOKEN oracle second
  build_openeuler_first:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload.sh
              ./build_and_upload.sh $GITHUB_TOKEN openeuler first
  build_openeuler_second:
      machine:
        image: ubuntu-2204:2024.01.1
      resource_class: arm.large
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              sudo apt-get update
              sudo apt-get install -y sudo zip jq snapd debootstrap
              sudo snap install distrobuilder --classic
        - run:
            name: Build and upload images
            command: |
              chmod 777 build_and_upload.sh
              ./build_and_upload.sh $GITHUB_TOKEN openeuler second

workflows:
  version: 2
  daily-run-workflow:
    jobs:
    - build_rockylinux
    - build_opensuse
    - build_openwrt
    - build_kali
    - build_fedora
    - build_gentoo
    - build_centos
    - build_debian
    - build_alpine
    - build_archlinux
    - build_almalinux
    - build_ubuntu_first
    - build_ubuntu_second
    - build_oracle_first
    - build_oracle_second
    - build_openeuler_first
    - build_openeuler_second
